{% extends "adminapp/base_adminapp.html" %}

{% block title %}Книги пользователя{% endblock %}

{% block content %}
<div>
    <div class="card">
        <h5 class="card-header">{{user.first_name}} {{user.last_name}}</h5>
        <div class="card-body">
            <h5 class="card-title">Активные книги пользователя</h5>

            {% if books %}
                 <p class="card-text"><em>(здесь вы можете увидеть книги, которые на данный момент читает {{user.first_name}} {{user.last_name}})</em></p>
                <div class="shadow p-3 mb-5 mt-4 bg-white rounded">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">Автор</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in books %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>to-do delete</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Не читает</p>
            {% endif %}

            </div>
        </div>
    </div>
</div>
<br>
<h4>Найти книгу:</h4>
{% if books_available %}
<div class="row">
    <div class="col-4">
        <form name="selectedBookId" method="POST" action="add_active/{{user.id}}">
             {% csrf_token %}
            <select name="selectedBookId" onchange="console.log(this.value)" class="form-control mb-3">
                <option disabled="disabled" selected="selected">Выберите книгу</option>
                {% for b in books_available %}
                <option value="{{b.id}}">"{{b.title}}" {{b.author}}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Добавить" class="btn btn-primary">
        </form>
    </div>
</div>
{% else %}
<h4>Нет доступных книг</h4>
{% endif %}
{% endblock %}