{% extends "adminapp/base_adminapp.html" %}

{% block title %}Информация о книге{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Название: "{{book.title}}"</h5>
        <h6 class="card-subtitle">Автор: {{book.author}}</h6>
        <form name = "edit-book" id = "edit_book_form" method="GET" action="/edit-book/{{book.id}}">

            <div class="form-group">
                <label class="control-label" for="title">Введите название:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{book.title}}" required >
            </div>
            <div class="form-group">
                <label for="author" class="control-label">Введите автора:</label>
                <input type="text" class="form-control" id="author" name="author" value="{{book.author}}" required>
            </div>
            <button type="submit" class="btn btn-primary" value="Save">Добавить</button>
            <button type="reset" class="btn btn-danger">Отмена</button>
         </form>
     </div>
 </div>

{% endblock %}