{% extends 'adminapp/base_adminapp.html' %}
{% block title %} Books list {% endblock %}
{% block content %}
<div>
    <div class="shadow p-3 mb-5 mt-4 bg-white rounded">
        <p>
            <b> Books list: </b>
        </p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
               <tbody id="books-list">
            {% for book in books %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                    {{book.status}}
                </td>
                <td>
                    <a href="/edit-book/{{ book.id }}" class="btn btn-primary">Change</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Add a book:</h5>
            <form name = "create_new_book" id = "new_book_form" method="POST"  action="create/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" required >
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <button type="submit" class="btn btn-primary" value="Save">Add</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </form>
</div>
    {% endblock %}


