{% extends "adminapp/base_adminapp.html" %}
{% load bootstrap %}
{% block title %}Library{% endblock %}

{% block content %}
<div class="shadow p-3 mb-5 mt-4 bg-white rounded">
    <h2>Library Users</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <form method="get">
                <th scope="col"></th>
                <th scope="col">{{ myFilter.form.first_name|bootstrap }}</th>
                <th scope="col">{{ myFilter.form.last_name|bootstrap }}</th>
                <th scope="col">{{ myFilter.form.phone_number|bootstrap }}</th>
                <th scope="col">{{ myFilter.form.is_active|bootstrap}}</th>
                <th scope="col" colspan="2">
                    <button class="btn btn-primary mb-3" type="submit">Find</button>
                    <button id="clear-btn" class="btn btn-warning mb-3" type="button">Clear</button>
                </th>
            </form>
        </tr>
        </thead>

        <tbody>

        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.phone_number }}</td>

            {% if user.is_active %}
            <td>Active reader</td>
            {% else %}
            <td>Inactive</td>
            {% endif %}

            <td>
                <a href="/active-books/{{ user.id }}" class="btn btn-primary">Active books</a>


                {% if user.is_active %}
                <a href="/change-user-active/{{ user.id }}" class="btn btn-danger da">Freeze</a>
                {% else %}
                <a href="/change-user-active/{{ user.id }}" class="btn btn-danger da">Make active</a>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createUserModal">
        Add a new user
    </button>
</div>

<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Add a new user</h5>
                <i class="modal-subtitle ml-2">(verified data only)</i>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="create_new_user" id="new_user_form" method="POST" action="create-user/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_Name">Name</label>
                        <input type="text" class="form-control" id="first_Name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="last_Name">Surname</label>
                        <input type="text" class="form-control" id="last_Name" name="last_name" required>
                    </div>
                    <div class="form-group">
                        <label for="Tel">Phone number</label>
                        <input type="tel" class="form-control" id="Tel" name="phone_number" required>
                        <small id="emailHelp" class="form-text text-muted">Required field</small>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Save">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}